<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="mainHeader" class="main">
        <nav id="navegacion">
          <a href="/">Home</a>
          <a href="/posts">Posts</a>
          <a href="/author">Author</a>
          <a href="/users">Users</a>
        </nav>
        <h1 id="titulo">Mi página web</h1>
    </header>
    <%- body %>
    <footer>
        <p>Página web desarrollada por Jaime Gallego Chillón</p>
        <p>Última versión: 27-04-2023</p>
    </footer>
  </body>
</html>