<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="mainHeader" class="main">
        <nav id="navegacion">
          <div class="navigationButtons">
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <a href="/author">Author</a>
            <% if (locals.loginUser?.isAdmin) { %>
              <a href="/users">Users</a>
            <% } %>            
          </div>
          <div class="loginButtons">
            <% if (!locals.loginUser) { %>
              <a href="/login">Login</a>
            <% } else { %>
              <a href="/users/<%= loginUser.id %>"><%= loginUser.username %></a>
              <a href="/login?_method=DELETE">Logout</a>
            <% } %>
          </div>
          <div style="clear: both;"></div>
        </nav>
        <h1 id="titulo">Mi página web</h1>
    </header>
    <%- body %>
    <footer>
        <p>Página web desarrollada por Jaime Gallego Chillón</p>
        <p>Última versión: 10-05-2023</p>
    </footer>
  </body>
</html>