<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <nav>
        </nav>
    </header>
    <h1>Marco de aplicación</h1>
    <body>
        <%- body %>
    </body>
    <footer>
        <p>Desarrollado por: Jaime Gallego</p>
    </footer>
  </body>
</html>