#titulo {
  text-align: center;
}

body {
  background-color: lightgrey;
  color: rgb(0, 92, 128);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section {
  border: 3px;
  padding: 8px;
}

footer {
  text-align: right;
}