#titulo {
  text-align: center;
}

body {
  background-color: lightgrey;
  color: rgb(0, 92, 128);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section {
  border: 3px;
  padding: 8px;
}

footer {
  float: right;
}

.postShow-container {
display: flex;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 20px;
}

.postShow {
width: calc(25% - 20px);
margin-right: 20px;
margin-bottom: 20px;
padding: 10px;
box-sizing: border-box;
background-color: #fff;
border-radius: 5px;
}

.postShow:last-child {
margin-right: 0;
}

.postTitle {
margin-bottom: 10px;
}

.postOptions {
margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 3px 8px;
  background-color: rgb(145, 153, 158);
  color: rgb(0, 92, 128);
  text-align: center;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navigationButtons {
  float: left;
  color: rgb(0, 92, 128);
}

.loginButtons {
  float: right;
  color: rgb(0, 92, 128);
}

.button2 {
  margin-top: 5px;
  margin-bottom: 5px;
}