<section>
    <div class="inputOption">
        <h3>Título:</h3>
        <input type="text" id="title" name="title" placeholder="Introduzca aquí el título">
    </div>
    <div class="inputOption">
        <h3>Descripción:</h3>
        <textarea id="body" name="body" placeholder="Introduzca aquí la descripción"></textarea>
    </div>
    <div class="inputOption">
        <h3 for="image">Adjuntar archivo (máx. 2MB):</h3>
        <input type="file" id="image" name="image">
    </div>
    <input type="submit" name="enviar" id="enviar" value="Publicar" class="button">
</section>