<section>
    <div class="inputOption">
        <a>Título:</a>
        <input type="text" id="title" name="title" placeholder="Introduzca aquí el título">
    </div>
    <div class="inputOption">
        <a>Descripción:</a>
        <textarea id="body" name="body" placeholder="Introduzca aquí la descripción"></textarea>
    </div>
    <div class="inputOption">
        <a for="image">Adjuntar archivo (máx. 2MB):</a>
        <input type="file" id="image" name="image">
    </div>
    <input type="submit" name="enviar" id="enviar" value="Publicar" class="button-2">
</section>