<section>
    <div class="inputOption">
        <input type="text" id="title" name="title" placeholder="Título">
    </div>
    <div class="inputOption">
        <textarea id="body" name="body" placeholder="Descripción"></textarea>
    </div>
    <div class="inputOption">
        <input type="file" id="image" name="image">
    </div>
    <input type="submit" name="enviar" id="enviar" value="Publicar" class="button-2">
</section>