<section>
    <h2>Editar Post:</h2>
    <h3>Título anterior:</h3>
    <p><%= post.title %></p>
    <h3>Descripción anterior:</h3>
    <p><%= post.body %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PUT" enctype="multipart/form-data" >
        <%- include('_form.ejs') %>
    </form>
    <a href="/posts" class="button">Volver a la lista de posts</a>
</section>