<section>
    <h2>Nuevo post:</h2>
    <form method="post" action="/posts" enctype="multipart/form-data" >
        <%- include('_form.ejs') %>
    </form>
    <a href="/posts" class="button">Volver a la lista de posts</a>
</section>