<section>
    <h2>Post a mostrar:</h2>
    <%- include('../attachments/_attachment', { post: post }) %>
    <article class="postShow">
        <ul>
            <li>Title: <b><%= post.title %></b></li>
            <li>Body: <b><%= post.body %></b></li>
        </ul>
    </article>
</section>