<section>
    <h2>Post a mostrar:</h2>
    <%- include('../attachments/_attachment', { post: post }) %>
    <article class="postShow">
        <ul>
            <li>Título: <b><%= post.title %></b></li>
            <li>Descripción: <b><%= post.body %></b></li>
        </ul>
    </article>
    <a href="/posts" class="button">Volver a la lista de posts</a>
</section>